body {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    margin-top: 2rem;
}

.row {
    margin: 10px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;

}



h1 {
    text-align: center;
    color: #274C7E;
    font-weight: 600;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(81, 134, 231);
    /* font-weight: 600; */
}

.btn-primary {
    background-color: rgb(81, 134, 231);
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary:hover {
    background-color: rgb(44, 101, 207);
}

.custom-table {
    background-color: rgb(248, 248, 248);

}

form {
    margin-bottom: 1rem
}

.table .thead-light th {
    background-color: #F7F7F7;
    border-bottom: 1px;
}

.page-item.active .page-link {
    background-color: rgb(102, 103, 117);
    border-color: rgb(102, 103, 117);
}

.page-link {
    color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 275px) {

    /* hide */
    .hide {
        display: none;
    }

    .btn-danger {
        background-color: #E25A56;
    }

    .btn-primary {
        margin-bottom: 15px;
    }

    .jumbotron {
        background-color: #F7F7F7;
        /* background-color: whitesmoke; */
        /* box-shadow: 10px 5px 15px rgb(219, 219, 219); */
    }


    /* puskesmas / data induvidu / edit */
    .form-hamil {
        margin-top: 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #d6d6d6;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .form-hamil-button {
        margin-bottom: 2rem;
    }

    /* footer all */
    .footer {
        margin-top: 2rem;
        background-color: #D7E3F9;
        padding: 1rem;

    }

    .footer-text p {
        color: #274C7F;
        font-size: 0.8rem;
        text-align: center;

    }

    /* konten dashboard */
    .main-dashboard {
        margin-top: 2rem;
        background-color: #ffff;
    }

    .main-dashboard .jumbotron {
        background-color: #eff4fe;
        padding: 2rem 2rem;
        box-shadow: none;
    }

    .main-dashboard .jumbotron>h2 {
        /* color: #274C7F; */
        color: #89a5ee;
        font-weight: 600;
        font-size: 1.8rem;
        /* border-bottom: 1px dashed #89a5ee; */
        margin-bottom: 1rem;

    }

    .main-dashboard .jumbotron>a {
        margin-bottom: 1rem;
        padding: 0;
        border-radius: 0.5rem;
        background-color: #ffffff;
        border: 1px solid white;
        color: #274C7E;
        transition: box-shadow .5s ease-out;

    }

    .main-dashboard .jumbotron>a:hover {
        box-shadow: 0px 0px 10px rgb(118, 143, 195);
        /* border: 2px solid rgb(100, 122, 170); */

    }

    .main-dashboard .jumbotron>a:active {
        background-color: white;
    }

    /* konten middle */
    .main {
        margin-top: 2rem;
    }

    /* header all */
    .bg-blue {
        background-color: #D7E3F9;

    }


    /* login all */

    .login .jumbotron {
        background-color: white;
    }

    .jumbotron form {
        margin-top: 2rem;
    }

    .login-header {
        background-color: #D7E3F9;
        padding: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

    }

    .login-header h1 {
        color: #274C7E;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }

    .login-box {
        padding: 0 0 4rem 0;
        margin-top: 2rem;
        border-radius: 2rem;


    }

    .login-label {
        color: #274C7E;
        font-size: 1.2rem;
    }

    #password,
    #username {
        background-color: #D7E3F9;
        background-color: white;
        border: 1px solid #89a5ee;
        border-radius: 5rem;
    }

    .login-button {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
        border-radius: 5rem;

    }

    /* all botton */
    .btn {
        border-radius: 5rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }


}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* hide */
    .hide {
        display: inline;
    }

    .btn-primary {
        margin-bottom: 0px;
    }

    .jumbotron {
        background-color: #F7F7F7;
        /* background-color: whitesmoke; */
        box-shadow: 5px 5px 10px rgb(219, 219, 219);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
