body {
    font-family: 'Source Sans Pro', sans-serif;



}

/* lupa start */
.lupa {
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px #c7d0e0;
}

/* lupa end */


/* konfrimasi hapus start */


.konfirmasi {
    color: #E25A56;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* konfirmasi hapus end */

/* laporan bulanan start */

.laporan-bulanan-heading {
    color: #7a7a7a;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.table {
    margin-bottom: 0 !important;
}

.laporan-bulanan {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.8rem;

}

.laporan-bulanan1 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.8rem;

}

.hilang {
    color: #F7F7F7 !important;
    border-bottom: 0px solid #F7F7F7 !important;
    /* border-color: white !important; */
}

.data-dasar {
    background-color: #dce7fa;

}

.data-total {
    background-color: #d4d4d4;
}

.tabel-antigen:nth-of-type(n) {
    background-color: #dce7fa !important;

}

.tabel-antigen:nth-of-type(2n) {
    background-color: #c8d8f3 !important;

}

.no-padding {
    padding: 0;
}

.no-padding-border {
    padding: 0;
    border-right: 1px dashed #c4ccdf;
    margin-bottom: 0 !important;
}



/* laporan bulanan end */

.t {
    max-width: 80%;
    margin-top: 2rem;

}


.t2 {
    max-width: 90%;
    margin-top: 2rem;

}

/* alert */
.alert-success {
    background-color: #65af7c;
    border: none;
    color: white;
}

.alert-danger {
    background-color: #E25A56;
    border: none;
    color: white;
}

/* alertend */

.body-login {
    background-image: url(../images/bg/dot.png);
    background-repeat: repeat;
}

.container {
    margin-top: 2rem;
}

/* testing */
.navbar {
    padding: 0 2rem;
}

/* testing */

/* form control */
.form-control,
.custom-select {
    border-radius: 5rem;
}


/* form control end */


.row {
    margin: 10px;
}

#row-login {
    margin: 0;
}

/* link */

.main-dashboard .jumbotron>a:focus {
    background-color: #dbe3f5 !important;

}

/* link end */


/* sertif */


.h1-sertif {
    text-align: center;
    color: #274C7E;
    /* color: black; */
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.h2-sertif {
    font-size: 1.5rem;
    font-weight: 600;
    /* color: rgb(81, 134, 231); */
    color: #274C7E;
    /* font-weight: 600; */
}

.h2-sertif-telah {
    font-size: 2rem;
    font-weight: 600;
    /* color: rgb(81, 134, 231); */
    color: #1b7575;
    margin-top: 1rem;
    margin-bottom: 2rem;

    /* background-color: rgb(81, 134, 231); */
    /* font-weight: 600; */
}

@media print {

    .table td,
    .table th {
        background-color: #ebf2ff !important;
    }
}


.jumbotron.jum-sertif {
    /* background-color: #ebf2ff; */
    background: rgb(203, 220, 255);
    background: linear-gradient(90deg, rgba(203, 220, 255, 0.6418942577030813) 26%, rgba(208, 236, 255, 0.6222864145658263) 100%);
    padding: 2rem 4em 1rem 4em;

}

.jumbotron.jum-sertif-tanggal {
    padding: 1rem;
    background-color: #ebf2ff;

}

.jumbotron.jum-sertif-tanggal>p {
    padding: 0;
    margin: 0;
    font-weight: 600;

}

.jumbotron.jum-sertif>.table td,
.jumbotron.jum-sertif>.table th {
    border-top: 1px solid #b6c7e7;
    border-bottom: 1px solid rgb(182, 199, 231);
    color: #274C7E;
}

.footer-sertif {
    margin-top: 0rem;
    /* background-color: #D7E3F9; */
    padding: 0em;

}

.footer-text-sertif p {
    color: #274C7F;
    font-size: 1rem;
    text-align: center;

}

/* sertif */



h3 {
    text-align: center;
    font-size: 1.5rem;

}



h1 {
    text-align: center;
    color: #274C7E;
    font-weight: 600;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(81, 134, 231);
    /* font-weight: 600; */
}

.btn-primary {
    background-color: rgb(81, 134, 231);
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary:hover {
    background-color: rgb(44, 101, 207);
}

.custom-table {
    background-color: rgb(248, 248, 248);

}

form {
    margin-bottom: 1rem
}

.table .thead-light th {
    background-color: #F7F7F7;
    border-bottom: 1px;
}

.page-item.active .page-link {
    /* background-color: rgb(102, 103, 117);
    border-color: rgb(102, 103, 117); */
    background-color: rgb(81, 134, 231);
    border-color: rgb(81, 134, 231);
}

.page-link {
    color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 275px) {

    /* hide */
    .hide {
        display: none;
    }

    .btn-danger {
        background-color: #E25A56;
    }

    .btn-primary {
        margin-bottom: 15px;
    }

    .jumbotron {
        background-color: #F7F7F7;
        /* background-color: whitesmoke; */
        /* box-shadow: 10px 5px 15px rgb(219, 219, 219); */
    }


    /* puskesmas / data induvidu / edit */
    .form-hamil {
        margin-top: 1rem;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #d6d6d6;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .form-hamil-button {
        margin-bottom: 2rem;
    }

    /* footer all */
    .footer {
        margin-top: 2rem;
        /* background-color: #D7E3F9; */
        background: rgb(195, 214, 255);
        background: linear-gradient(130deg, rgba(195, 214, 255, 1) 0%, rgba(196, 222, 255, 1) 100%);
        padding: 1rem;

    }

    .footer-text p {
        color: #274C7F;
        font-size: 0.8rem;
        text-align: center;

    }

    /* konten dashboard */
    .main-dashboard {
        margin-top: 2rem;
        /* background-color: #ffff; */
    }

    .main-dashboard .jumbotron {
        /* background-color: #eff4fe; */
        background-color: #f4f7ff;

        padding: 2rem 2rem;
        box-shadow: 0px 0px 5px #c4ccdf;
        border: none;
    }

    .main-dashboard .jumbotron>h2 {
        /* color: #274C7F; */
        /* color: #89a5ee; */
        color: #3b4f83;
        font-weight: 600;
        font-size: 1.8rem;
        /* border-bottom: 1px dashed #89a5ee; */
        margin-bottom: 1rem;

    }

    .main-dashboard .jumbotron>a {
        margin-bottom: 1rem;
        padding: 0;
        border-radius: 0.5rem;
        background-color: #ffffff;
        border: 0px solid white;
        color: #274C7E;
        transition: box-shadow .5s ease-out;

    }

    .main-dashboard .jumbotron>a:hover {
        box-shadow: 0px 0px 10px rgb(118, 143, 195);
        /* border: 2px solid rgb(100, 122, 170); */

    }

    .main-dashboard .jumbotron>a:active {
        background-color: white;
    }

    /* konten middle */
    .main {
        margin-top: 2rem;
    }

    /* header all */
    .bg-blue {
        /* background-color: #D7E3F9; */
        background: rgb(195, 214, 255);
        background: linear-gradient(130deg, rgba(195, 214, 255, 1) 0%, rgba(196, 222, 255, 1) 100%);

    }


    /* login all */

    .login .jumbotron {
        background-color: white;
    }

    .jumbotron form {
        margin-top: 2rem;
    }

    .login-header {
        background-color: #D7E3F9;
        padding: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

    }

    .login-header h1 {
        color: #274C7E;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .login-box {
        padding: 0 0 2rem 0;
        margin-top: 2rem;
        border-radius: 2rem;
    }

    .jumbotron.login-box {
        /* background-color: red; */
        border: 0px solid #ffffff;
        box-shadow: 0px 0px 20px #d6d6d6;
    }

    .login-label {
        color: #274C7E;
        font-size: 1.2rem;
    }

    #password,
    #username {
        background-color: #D7E3F9;
        background-color: white;
        border: 1px solid #89a5ee;
        border-radius: 5rem;
    }

    .login-button {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
        border-radius: 5rem;

    }

    /* all botton */
    .btn {
        border-radius: 5rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }


}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    /* hide */
    .hide {
        display: inline;
    }

    .btn-primary {
        margin-bottom: 0px;
    }

    .jumbotron {
        background-color: white;
        /* background-color: whitesmoke; */
        /* box-shadow: 0px 0px 20px rgb(219, 219, 219); */
        border: 1.5px solid rgb(225, 225, 225);
        margin-top: 1rem;
    }

    .login-header h1 {
        color: #274C7E;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
